@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=FF96361E-EC21-46D0-AC52-4D9193E0BBFD

@mirage:registry=https://pkgs.dev.azure.com/welton-investment/_packaging/angular-staging/npm/registry/ 
always-auth=true

https://registry.npmjs.org/