<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="C:\app\framework\tests\Albatross.Hosting.Demo\bin\Debug\netcoreapp3.1\Albatross.Hosting.Demo.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess" />
    </system.webServer>
  </location>
</configuration>